In [19]:
import pandas as pd
import plotly.express as px
#import streamlit as st
import numpy as np
import seaborn as sns

In [20]:
df = pd.read_csv('data_sentimento.csv')
df.head()

,score,description,date,sentimento
0,1.0,O produto aparece usado...em baixo do aparelho...,13/11/2019,Ruim
1,5.0,"Mouse sem fio ótimo, sem delay, nano receptor ...",19/08/2019,Bom
2,3.0,"A construção do mouse em si é boa, os clicks s...",15/03/2019,Neutro
3,5.0,A mídia não pôde ser carregada. ...,31/07/2020,Bom
4,1.0,"O mouse está em boas condições, funcionando be...",21/06/2020,Ruim

In [21]:
df['date'] = pd.to_datetime(df['date'], dayfirst=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4818 entries, 0 to 4817
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   score        4818 non-null   float64
 1   description  4800 non-null   object
 2   date         4818 non-null   datetime64[ns]
 3   sentimento   4818 non-null   object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 150.7+ KB

In [23]:
def get_mes(date):
    return date.strftime("%b")

df['mes'] = df.date.apply(get_mes)
df.head()

,score,description,date,sentimento,mes
0,1.0,O produto aparece usado...em baixo do aparelho...,2019-11-13,Ruim,Nov
1,5.0,"Mouse sem fio ótimo, sem delay, nano receptor ...",2019-08-19,Bom,Aug
2,3.0,"A construção do mouse em si é boa, os clicks s...",2019-03-15,Neutro,Mar
3,5.0,A mídia não pôde ser carregada. ...,2020-07-31,Bom,Jul
4,1.0,"O mouse está em boas condições, funcionando be...",2020-06-21,Ruim,Jun

In [24]:
def get_ano(date):
    return date.strftime("%y")

df['ano'] = df.date.apply(get_ano)
df.head()

,score,description,date,sentimento,mes,ano
0,1.0,O produto aparece usado...em baixo do aparelho...,2019-11-13,Ruim,Nov,19
1,5.0,"Mouse sem fio ótimo, sem delay, nano receptor ...",2019-08-19,Bom,Aug,19
2,3.0,"A construção do mouse em si é boa, os clicks s...",2019-03-15,Neutro,Mar,19
3,5.0,A mídia não pôde ser carregada. ...,2020-07-31,Bom,Jul,20
4,1.0,"O mouse está em boas condições, funcionando be...",2020-06-21,Ruim,Jun,20

In [25]:
cont = pd.DataFrame(df.groupby(['mes', 'ano', 'sentimento'])['sentimento'].count())
cont.columns = ['cont']
cont.head()

                    cont
mes ano sentimento
Apr 19  Bom           14
    20  Bom           89
        Ruim           6
    21  Bom          326
        Neutro         3

In [26]:
cont = cont.reset_index()
cont.head()

   mes ano sentimento  cont
0  Apr  19        Bom    14
1  Apr  20        Bom    89
2  Apr  20       Ruim     6
3  Apr  21        Bom   326
4  Apr  21     Neutro     3

In [27]:
nova_data = []

for row in cont.itertuples():
    nova_data.append(f'{row.mes}-{row.ano}')

cont['novas_data'] = nova_data
cont.head()

   mes ano sentimento  cont novas_data
0  Apr  19        Bom    14     Apr-19
1  Apr  20        Bom    89     Apr-20
2  Apr  20       Ruim     6     Apr-20
3  Apr  21        Bom   326     Apr-21
4  Apr  21     Neutro     3     Apr-21

In [28]:
cont['ano'] = pd.to_numeric(cont['ano'])

In [29]:
cont_filtro = cont.query("ano == 21 or ano == 22")
cont_filtro.head()

    mes  ano sentimento  cont novas_data
3   Apr   21        Bom   326     Apr-21
4   Apr   21     Neutro     3     Apr-21
5   Apr   21       Ruim     6     Apr-21
10  Aug   21        Bom   124     Aug-21
11  Aug   21     Neutro     5     Aug-21

In [31]:
cont_filtro['novo_form'] = pd.to_datetime(cont_filtro['novas_data'], format='%b-%y')
cont_filtro.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    mes  ano sentimento  cont novas_data  novo_form
3   Apr   21        Bom   326     Apr-21 2021-04-01
4   Apr   21     Neutro     3     Apr-21 2021-04-01
5   Apr   21       Ruim     6     Apr-21 2021-04-01
10  Aug   21        Bom   124     Aug-21 2021-08-01
11  Aug   21     Neutro     5     Aug-21 2021-08-01

In [32]:
cont_filtro = cont_filtro.sort_values('novo_form')

In [33]:
cont_filtro.head()

    mes  ano sentimento  cont novas_data  novo_form
35  Jan   21       Ruim     7     Jan-21 2021-01-01
34  Jan   21        Bom   123     Jan-21 2021-01-01
26  Feb   21        Bom   167     Feb-21 2021-02-01
28  Feb   21       Ruim     8     Feb-21 2021-02-01
27  Feb   21     Neutro     3     Feb-21 2021-02-01

In [35]:
cont_filtro.novas_data.unique()

array(['Jan-21', 'Feb-21', 'Mar-21', 'Apr-21', 'May-21', 'Jun-21',
       'Jul-21', 'Aug-21', 'Sep-21', 'Oct-21', 'Nov-21', 'Dec-21',
       'Jan-22', 'Feb-22', 'Mar-22'], dtype=object)

In [37]:
percentages = []

for dif_mes_ano in cont_filtro.novas_data.unique():
    print(dif_mes_ano)
    dataset = cont_filtro.query(f'novas_data == "{dif_mes_ano}"')
    total = sum(dataset['cont']) 
    print(total)
    
    mes_ano_values = dataset['cont'].values
    
    if mes_ano_values.size > 0:
        for value in mes_ano_values:
            percentage = (value * 100)/total
            print(percentage)
            percentages.append(percentage)
    else:
        pass
        
cont_filtro['mes_perc'] = percentages

Jan-21
130
5.384615384615385
94.61538461538461
Feb-21
178
93.82022471910112
4.49438202247191
1.6853932584269662
Mar-21
254
96.06299212598425
2.7559055118110236
1.1811023622047243
Apr-21
335
97.31343283582089
1.791044776119403
0.8955223880597015
May-21
297
1.0101010101010102
2.6936026936026938
96.29629629629629
Jun-21
244
2.459016393442623
3.278688524590164
94.26229508196721
Jul-21
240
3.3333333333333335
93.75
2.9166666666666665
Aug-21
136
5.147058823529412
3.676470588235294
91.17647058823529
Sep-21
142
2.112676056338028
0.704225352112676
97.1830985915493
Oct-21
123
6.504065040650406
2.4390243902439024
91.0569105691057
Nov-21
121
5.785123966942149
2.479338842975207
91.73553719008264
Dec-21
142
9.154929577464788
0.704225352112676
90.14084507042253
Jan-22
119
3.361344537815126
93.27731092436974
3.361344537815126
Feb-22
103
92.23300970873787
3.883495145631068
3.883495145631068
Mar-22
83
2.4096385542168677
95.18072289156626
2.4096385542168677

In [38]:
cont_filtro.head(20)

    mes  ano sentimento  cont novas_data  novo_form   mes_perc
35  Jan   21       Ruim     7     Jan-21 2021-01-01   5.384615
34  Jan   21        Bom   123     Jan-21 2021-01-01  94.615385
26  Feb   21        Bom   167     Feb-21 2021-02-01  93.820225
28  Feb   21       Ruim     8     Feb-21 2021-02-01   4.494382
27  Feb   21     Neutro     3     Feb-21 2021-02-01   1.685393
59  Mar   21        Bom   244     Mar-21 2021-03-01  96.062992
61  Mar   21       Ruim     7     Mar-21 2021-03-01   2.755906
60  Mar   21     Neutro     3     Mar-21 2021-03-01   1.181102
3   Apr   21        Bom   326     Apr-21 2021-04-01  97.313433
5   Apr   21       Ruim     6     Apr-21 2021-04-01   1.791045
4   Apr   21     Neutro     3     Apr-21 2021-04-01   0.895522
70  May   21     Neutro     3     May-21 2021-05-01   1.010101
71  May   21       Ruim     8     May-21 2021-05-01   2.693603
69  May   21        Bom   286     May-21 2021-05-01  96.296296
52  Jun   21       Ruim     6     Jun-21 2021-06-01   2.459016
51  Jun   21     Neutro     8     Jun-21 2021-06-01   3.278689
50  Jun   21        Bom   230     Jun-21 2021-06-01  94.262295
45  Jul   21       Ruim     8     Jul-21 2021-07-01   3.333333
43  Jul   21        Bom   225     Jul-21 2021-07-01  93.750000
44  Jul   21     Neutro     7     Jul-21 2021-07-01   2.916667

In [39]:
cont_filtro.to_csv('mes_cont.csv', index=False)